<div  align="center" >  
<div class="contenedor" align="center">  
      
     <br>     
      
      <strong><font face="Arial,Verdana" size=6&gt; color="Black" (click)="sera()">Epiphytes of Las Cuevas Research Station, Cayo District, BELIZE</font></strong><br><br>
      <h3>Bruce K. Holst, Sally Chambers, Antone Jones, David Amaya, Ella Baron, Marvin Paredes, Sayuri Tzul</h3>
      <br>
      
        </div>
<br>

<div align="center" *ngIf="mostrarRama1 == true">  
<button type="button" class="btn btn-success" (click)="boton1()">
        <strong><i><font face="Arial,Verdana" size=5&gt; color="White" >Flower and spore-bearing Plants</font></i></strong><br><br>
        
    </button>

<br>
<br>
<button type="button" class="btn btn-success" (click)="boton2()">
        <strong><i><font face="Arial,Verdana" size=5&gt; color="White" >Spore-bearing Plants</font></i></strong><br><br>
        
    </button>
    
</div>
<br>
</div>


<div class="grid-container"  *ngIf="bot1 == true">
 


    <div class="grid-item" *ngFor="let message of messages">
        <img width="200px" height="300px" alt="Angular Logo" src={{message.imagen}}>
        <table align="center">
            <td>
               <tr width="100px" height="100px"><strong><i><font face="Arial,Verdana" size=4&gt; color="Black" >{{message.nombre}}</font></i></strong></tr>
             
                    
             
                   
            
        </table>
       
        

    </div>

    

   
</div>

<br>
<div class="panel panel-success" style="width: 50%; height: 100%;">
        
        <div class="contenedor" > 
                <img width="100%" height="100%" alt="Angular Logo" src="../../../assets/imagenes/1149/mapa.jpg">
                
    </div>
   
      </div>
      <br>
      <div style="width: 75%; height: 100%;">
            Las Cuevas Research
            Station (LCRS) is located at the northern portion of
            Belize's Maya Mountains
            and in the heart of Chiquibul Forest Reserve.
            Since 1994 LCRS has promoted biological, botanical, wildlife, climatic, and archaeological research and education. This
            unique setting provides a range of opportunities for researchers, naturalists, environmentalists, and
            students to enjoy nature and conduct biodiversity research. LCRS is co-managed by Friends for
            Conservation and Development and the Government of Belize.
            The Chiquibul Forest represents nearly 8% of the Belize's terrestrial surface and is part of the trinational Maya Forest bioregion forming the largest remaining contiguous block of tropical forest
            north of the Amazon.
            The following epiphytic species are reported from Las Cuevas, but photos are not available: Campyloneurum fasciale, Lycaste
            sp., Nephrolepis pendula, Polypodium hispidulum, Rhetinantha sp., Scaphyglottis sp.
            The authors appreciate the help of the Las Cuevas Research Station staff and the
            Friends of Conservation and Development, Belize, for logistical support.
    </div>


