<div  align="center" >  
<div class="contenedor" align="center">  
      
     <br>     
      
      <strong><font face="Arial,Verdana" size=6&gt; color="Black" (click)="sera()">Epiphytes of Las Cuevas Research Station, Cayo District, BELIZE</font></strong><br><br>
      <h3>Bruce K. Holst, Sally Chambers, Antone Jones, David Amaya, Ella Baron, Marvin Paredes, Sayuri Tzul</h3>
      <br>
      
        </div>
<br>

<div align="center" *ngIf="mostrarRama2 == true">  
<button type="button" class="btn btn-success" (click)="boton1()">
        <strong><i><font face="Arial,Verdana" size=5&gt; color="White" >Flower and spore-bearing Plants</font></i></strong><br><br>
        
    </button>

<br>
<br>
<button type="button" class="btn btn-success" (click)="boton2()">
        <strong><i><font face="Arial,Verdana" size=5&gt; color="White" >Spore-bearing Plants</font></i></strong><br><br>
        
    </button>
    
</div>
<br>
</div>


<div class="grid-container"  *ngIf="bot1 == true">
 
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/0.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/1.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/2.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/3.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/4.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/5.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/6.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/7.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/8.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/9.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/10.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/11.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/12.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/13.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/14.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/15.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/16.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/17.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/18.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/19.jpg"><h3>#Nombre</h3></div>
    
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/20.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/21.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/22.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/23.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/24.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/25.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/26.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/27.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/28.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/29.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/30.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/31.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/32.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/33.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/34.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/35.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/36.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/37.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/38.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/39.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/40.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/41.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/42.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/43.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/44.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/45.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/46.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/47.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/48.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/49.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/50.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/51.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/52.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/53.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/54.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/55.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/56.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/57.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/58.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/59.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/60.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/61.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/62.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/63.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/64.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/65.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/66.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/67.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/68.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/69.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/70.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/71.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/72.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/73.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/74.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/75.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/76.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/77.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/78.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/79.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/80.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/81.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/82.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/83.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/84.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/85.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/86.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/87.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/88.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/89.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/90.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/91.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/92.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/93.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/94.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/95.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/96.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/97.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/98.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/99.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/100.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/101.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/102.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/103.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/104.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/105.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/106.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/107.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/108.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/109.jpg"><h3>#Nombre</h3></div>
    
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/110.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/111.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/112.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/113.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/114.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/115.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/116.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/117.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/118.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/119.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/120.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/seed/121.jpg"><h3>#Nombre</h3></div>

  </div>
      
<div class="grid-container"  *ngIf="bot2 == true">
  

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/0.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/1.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/2.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/3.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/4.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/5.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/6.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/7.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/8.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/9.jpg"><h3>#Nombre</h3></div>

    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/10.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/11.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/12.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/13.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/14.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/15.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/16.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/17.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/18.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/19.jpg"><h3>#Nombre</h3></div>
    
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/20.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/21.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/22.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/23.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/24.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/25.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/26.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/27.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/28.jpg"><h3>#Nombre</h3></div>
    <div class="grid-item"><img width="200px" height="300px" alt="Angular Logo" src="../../../assets/imagenes/1149/spore/29.jpg"><h3>#Nombre</h3></div>


</div>

      <br>
      <br>