<div  align="center" >  
<div class="contenedor" align="center">  
      
     <br>     
      
      <strong><font face="Arial,Verdana" size=6&gt; color="Black" (click)="sera()">Epiphytes of Las Cuevas Research Station, Cayo District, BELIZE</font></strong><br><br>
      <h3>Bruce K. Holst, Sally Chambers, Antone Jones, David Amaya, Ella Baron, Marvin Paredes, Sayuri Tzul</h3>
      <br>
      
        </div>
<br>

<div align="center" *ngIf="mostrarRama2 == true">  
<button type="button" class="btn btn-success" (click)="sendMessage()">
        <strong><i><font face="Arial,Verdana" size=5&gt; color="White" (click)="sera()">Flower and seed-bearing Plants</font></i></strong><br><br>
        
    </button>

<br>
<br>
<button type="button" class="btn btn-success" (click)="sendMessage()">
        <strong><i><font face="Arial,Verdana" size=5&gt; color="White" (click)="sera()">Spore-bearing Plants</font></i></strong><br><br>
        
    </button>
    
</div>
<br>
</div>


<div class="grid-container"  *ngIf="mostrarRama2 == false">
        <div class="grid-item"><img width="95%" height="95%" alt="Angular Logo" src="../../../assets/imagenes/dos/1.png"></div>
        <div class="grid-item"><img width="95%" height="95%" alt="Angular Logo" src="../../../assets/imagenes/dos/2.png"></div>
        <div class="grid-item"><img width="95%" height="95%" alt="Angular Logo" src="../../../assets/imagenes/dos/3.png"></div>  
        <div class="grid-item"><img width="95%" height="95%" alt="Angular Logo" src="../../../assets/imagenes/dos/4.png"></div>
        <div class="grid-item"><img width="95%" height="95%" alt="Angular Logo" src="../../../assets/imagenes/dos/5.png"></div>
        <div class="grid-item"><img width="95%" height="95%" alt="Angular Logo" src="../../../assets/imagenes/dos/6.png"></div>  
      
      </div>
      <br>
      <br>