<!--The content below is only a placeholder and can be replaced.-->
<div>
  <img width="100%" height="100%" alt="Angular Logo" src="../assets/imagenes/titulo.jpg">

</div>



<div  align="center" *ngIf="mostrarRama == false">  
    <app-rama1></app-rama1>
    <br>
    <button type="button" class="btn btn-primary" (click)="refrescar()">Return</button>
    </div>
    <br>
<div  align="center" *ngIf="mostrarRama == true">  
    
<div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item" align="left">
      <strong><i><font face="Arial,Verdana" size=5&gt; color="Green" (click)="sera()">Epiphytes of Las Cuevas Research Station, Cayo District, Belize</font></i></strong><br><br>
     
      
      
      <strong><i><font face="Arial,Verdana" size=5&gt; color="Green" (click)="sera()">Epiphytes and Lithophytes of Outlier Cockscomb Range, Stann Creek District, Belize</font></i></strong><br><br>
      <strong><i><font face="Arial,Verdana" size=5&gt; color="Green" (click)="sera2()">Epiphytes of The Belize Zoo Tropical Education Center</font></i></strong><br><br>
      <strong><i><font face="Arial,Verdana" size=5&gt; color="Green" (click)="sera2()">Epiphytes/Lithophytes of Xunantunich Archaeological Reserve, Cayo District, Belize</font></i></strong><br><br>
      <strong><i><font face="Arial,Verdana" size=5&gt; color="Green" (click)="sera2()">Epiphytes/Lithophytes of Mayflower Bocawina NP, Belize</font></i></strong><br><br>
      <strong><i><font face="Arial,Verdana" size=5&gt; color="Green" (click)="sera2()">Epiphytic Fern Genera of Belize</font></i></strong><br><br>
      <strong><i><font face="Arial,Verdana" size=5&gt; color="Green" (click)="sera2()">Epiphytic Plants of Bacalar Chico National Park, Corozal District, Belize</font></i></strong><br><br>
      <strong><i><font face="Arial,Verdana" size=5&gt; color="Green" (click)="sera2()">Tillandsia of Belize</font></i></strong><br><br>
    </div>
  <div class="grid-item"></div>

</div>
</div>
<img width="100%" height="100%" alt="Angular Logo" src="../assets/imagenes/fin1.png">
<img width="100%" height="100%" alt="Angular Logo" src="../assets/imagenes/fin2.png">
